# RISC-V Toolchain
*.asm
*.bin
*.elf
*.hex
*.lst
*.map

# macOS
.DS_Store

# KiCad
schematic/*/*-backups
schematic/*/fp-info-cache
schematic/*/*auto_saved_files*
schematic/*/_autosave*
schematic/*/~*

# VSCode
.vscode/
